* {box-sizing: border-box; }

  body {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
  }

  .table {
    width: 60%;
    margin: 80px auto 0 auto;
    font-size: 30px;
  }

  .row {width: 100%; }

  .table .left, .table .right {
    width: 48%;
    display: inline-block;
  }

  .clock-temp {
    font-size: 72px;
  }

  .clock-temp .right {
    text-align: right;
  }